package layout

type BaseProps struct{
    Title string
}

templ Base(props BaseProps) {
    <html>
        <head>
            <title>{ props.Title }</title>
        </head>
        <body>
            { children... }
        </body>
    </html>
}