package home

import "github.com/veapach/vv-tickets/internal/view/layout"

templ Index() {
    @layout.Base(layout.BaseProps{Title: "Main page"}){
        <h1>Hello world!</h1>
    }
    
}

templ About() {
    @layout.Base(layout.BaseProps{Title: "About me"}){
        <h1>About me</h1>
    }
    
}